
%section
  %p.intro
    I'm a software developer passionate about the web, small businesses, numerical analysis, and Lindy Hop.
    %br
    %br
    I'm going to kick things off with a little education.
    There have been varying reports in the media about what's going on with the nuclear reactors in Japan, specifically the Dai-ichi reactors.
    I'm going to attempt to take you through, slowly, the workings of a nuclear reactor and what's wrong with the ones in Japan.
    This will be at least two articles.  The first is up now so you can get a sense of what's going on and
    = link_to( "how a nuclear reaction works.", "/#nuclear-reaction" )

%section#nuclear-reaction
  %h2
    How a Nuclear Chain Reaction Works
  %p
    We're going to start simple.  There are three main types of nuclear reactions: radioactive decay, nuclear fusion, and nuclear fission.  We're going to focus on nuclear fission, but remember that radioactive decay exists.  You can forget about fusion because we really don't know how to use it in a way that is useful and doesn't
    = link_to( "explode in a big way", "http://en.wikipedia.org/wiki/Teller-Ulam_design", :target => "_blank" ) + "."
  %p
    Nuclear fission isn't that complicated.  Picture this: there's a ping pong ball and a basketball.  The ping pong ball goes really fast and hits the basketball.  When it hits the basketball, the basketball splits into four parts.  Two ping pong balls and two baseballs.  In atomic terms:
  %ul
    %li
      the
      %strong
        ping pong balls
      are
      %strong
        neutrons.
    %li
      the
      %strong
        basket balls
      are
      %strong
        Uranium-235
      ( that means it's atomic weight is 235 ).
    %li
      the
      %strong
        baseballs
      are
      %strong
        fission products.
      %br
      The most common fission products are
      = link_to "Caesium-137", "http://en.wikipedia.org/wiki/Caesium-137", :target => "_blank"
      ,
      = link_to "Tin-121", "http://en.wikipedia.org/wiki/Tin-121m", :target => "_blank"
      ,
      = link_to "Strontium-90", "http://en.wikipedia.org/wiki/Strontium-90", :target => "_blank"
      ,
      = link_to "Iodine-129", "http://en.wikipedia.org/wiki/Iodine-129", :target => "_blank"
      , and
      = link_to( "Caesium-135", "http://en.wikipedia.org/wiki/Caesium-135", :target => "_blank" ) + '.'

  %p
    You don't need to remember that list of products, but you should remember that they are classified in two groups.
    %strong
      long lived isotopes
    which remain radioactive for a long time - hundreds of years - and
    %strong
      short lived isotopes
    which remain radioactive for a shorter time - about 40 years.  Needless to say, we don't want this stuff to escape into the environment.
  %p
    Back to the reaction.  Imagine that two baseballs and two ping pong balls are inside each basketball.  Also, imagine that the shell of the basketball is actually holding these four balls together.  Since there is force exerted on these baseballs and ping pong balls, we can say that the force bonding them together contains
    %strong
      potential energy.
    In nuclear terms, this force is called the
    %strong
      strong nuclear force.
  %p
    The ping pong balls hit the basketballs, destroying the basketball and creating two ping pong balls and two baseballs.  The two new ping pong balls are moving
    %strong
      really
    fast and the two baseballs are now moving much quicker as well.  We can now say that the
    %strong
      potential energy
    in the basketball has been converted into
    %strong
      kenetic energy.
    When we say that an atom ( baseball or basketball in our example ) has a lot of kenetic energy, we mean that it's
    %strong
      really, really hot.
  %p
    I've said twice now that as a ping pong ball hits a basket ball, it releases two baseballs and two ping pong balls.  I've also said that the two ping pong balls are going really, really fast.  You may have guessed by now, that these two new ping pong balls are free to hit other basketballs and the process will repeat.  That is why we call it a
    %strong
      chain reaction.

  %p
    One more thing.  Because neclear physics is a strange beast, the ping pong balls can't be going too fast.  If they are going too fast, they essentially miss the the basketballs.  This isn't very useful so we need to do something to slow them down.  To make things move a little slower, let's put this whole illustration
    %strong
      under water.
    In neclear physics terms, we're going to call the water a
    %strong
      neutron moderator.
    Water is really good at slowing stuff down, and it turns out, water is pretty good at slowing down neutrons, too.  We really don't have very much control over how fast the chain reaction is occuring if we just use water so we need a little more help if we want any control.

  %p
    Immagine our illustration in a swimming pool.  There are thousands of ping pong balls, basketballs and baseballs inside the swiming pool which is also filled with water.  Also imagine that there are lots of spikes sticking up from the bottom of the pool that we can raise and lower.  These spikes are special.  They're spongy and can absorb ping pong balls.  So, if we stick all the spikes all the way up, we'll eventually absorb so many ping pong balls that there won't be enough ping pong balls left to hit other basketballs and the reaction will stop - 
    %strong
      eventually.

  %p
    So, water is a neutron moderator and these spikes are also neutron moderators. We can't really control how watery the water is but we can control how far we stick the spikes into the pool and therfore how much moderation we have.  In a nuclear reactor, these spikes can be made of many things but a typical material is #{link_to "Boron-10", "http://en.wikipedia.org/wiki/Boron#Enriched_boron_.28boron-10.29"}.

  %p
    "So, what the heck is the point?" You may be asking yourself.  Well, since we have a lot more kenetic energy - heat - than we had before, we can convert the heat into electricity. Typically, we'll heat up a bunch of water, let it turn into steam which can turn a turbine and generate electricity.  We'll then cool the water back down and put that water back into the reactor, letting the cycle continue.  It sounds easy but there's a lot of thought that goes into how you keep those fission products out of the environment.  Unless, of course, 
    = link_to( "you're soviet", "http://en.wikipedia.org/wiki/Chernobyl_disaster", :target => "_blank" ) + "."
  
  

%section#how-a-reactor-works
  %h2
    How a Nuclear Reactor works
  %p
    Coming Soon.

%section#whats-wrong
  %h2
    What's wrong with Dai-ichi
  %p
    Coming Soon.