
%section
  %p.intro
    I'm a software developer passionate about boiling math and science down to their intuitive roots.
  %p.intro
    There have been varying reports in the media about what's going on with the nuclear reactors in Japan.
    I'm going to attempt to take you through, slowly, the workings of a nuclear reactor and what's wrong with the ones in Japan.
    This will be a five article series.
  %ul
    %li= link_to( "Background Information - Inside the Atom.", "/#background_information_inside_the_atom" )
    %li= link_to( "How Nuclear Fission Works", "/#how_nuclear_fission_works" )
    %li= link_to( "How a Nuclear Reactor Works", "/#how_a_nuclear_reactor_works" )
    %li= link_to( "What's Wrong in Fukushima", "/#what_s_wrong_in_fukushima" )
    %li= link_to( "Demystifying Radiation", "/#demystifying_radiation" )
- @posts.each do |post|
  %section{ :id => post.html_id }
    %h2
      != post.title
    != post.html_content
    - if current_user.andand.admin?
      %p= link_to "edit ->", edit_post_path( post )